@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Khairahani-10,kathar<br />
    Chitwan<br />
    <abbr title="Phone">P:</abbr>
  9860262179
</address>

<address>
    <strong>Support:</strong>Our Team Service<a href=""></a><br />
    <strong>Marketing:</strong> Our Partner Available in the world<a href=""></a>
</address>