@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-color:aqua" , spellcheck="true">
        <div class="alert-danger"><h1>Hotel Reservation System</h1></div>
        <p class="lead">welcome to new portal system where we provide a kind service about Hotel</p>
        @*<p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting Provided Services</h2>
            <p>
                When you get into a hotel room, you lock the door, and you know there is a secrecy, there is a luxury, there is fantasy. There is comfort. There is reassurance.
            </p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        @*<div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
    </div>
    
